<div class="container">
  <div class="card">
    <div class="card-body">
      <h5>Education</h5>
      <div>The education section will house the following information and more:</div>
      <ul>
        <li>How do I enroll my child in school?</li>
        <li>What are the different types of school available? (Charter, Private, Public, etc)</li>
        <li>School district lines and how that affects me</li>
        <li>What are the types of higher education?</li>
        <li>How do I apply for higher education?</li>
        <li>Scholarships, Grants, and Student Loans – How to pay for your education</li>
      </ul>
    </div>
  </div>
</div>
