<div class="profile-view">
    <h1>User Name Here</h1>
    <div class="row">
      <div clas="col-4">
        <img class="profile-picture" src="../../assets/images/profile-picture.jpg" alt="Profile Picture">
      </div>
      <div class="personal-info col-4">
        <p>
          <a href="https://api.whatsapp.com/send?phone=15134005374" target="_blank">Connect with WhatsApp</a>
        </p>
        <p><strong>Name:</strong> Target the Cat</p>
        <p><strong>Country of Origin:</strong> United States</p>
        <p><strong>Location:</strong> Saint Louis</p>
        <p><strong>About Me:</strong>  I like to take naps all day and eat catnip.  I was born in Fort Morgan, CO.  I moved to Houma, LA in 2015 and Saint Louis, MO in 2016.</p>
      </div>
    </div>
</div>
