
<div *ngIf="edit">
    <div class="create-status">
        
          <div class="form-group">
            <input type="text" [(ngModel)]="newExperience.title" name="titleField" placeholder="Enter a title" />
            <input type="text" [(ngModel)]="newExperience.author" name="authorField" placeholder="Enter and Author" />
            <textarea class="form-control" rows="3" placeholder="What was your experience?" [(ngModel)]="newExperience.text" name="statusText"></textarea>
          </div>
          <label>Rating:</label>
          
          <div class="pull-right">
            <!-- On click of this button, post status -->
            <button class="btn btn-primary btn-md" (click)="postExperience()">Post</button>
          </div>
        
      </div>
 </div>
<button (click)="switchModes()">Add an experience</button>

<div *ngIf="experiences.length > 0" class="list-statuses clearfix">
        <ul >
          <!-- Loop through the statuses and display them -->
          <li *ngFor="let experience of experiences">
            <div class="status">
            <p>{{experience.title}}</p>
              <p>{{experience.author}}</p>
                <p>{{experience.text}}</p>
              <div class="reaction">
                <ul class="list-inline">
                  <!-- On click of any of the reactions, call the react method -->
                  <li><a href="#" class="btn btn-sm btn-default" (click)="react('like', status)">Like</a></li>
                </ul>
                <!-- <div class="counts"> -->
                  <!-- Show the reaction counts -->
                  <!-- <span class="thumbs reaction"><span class="count">{{thing.rating}}</span> Like</span>
                 </div> -->
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="!experiences || experiences.length <= 0">
          No Current Experiences
      </div>


