<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/dashboard">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Language
        </a>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Vietnamese</a>
          <a class="dropdown-item" href="#">Spanish</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Klingon</a>
        </div>
      </li>
      <li class="nav-item">
        <button type="button" class="fas fa-star fa-2x" routerLink="/experience"></button>
      </li>
      <li class="nav-item">
        <button type="button" class="fas fa-users fa-2x" href="#"></button>
      </li>
      <li class="nav-item">
        <button type="button" class="fas fa-car-side fa-2x" href="#"></button>
      </li>
      <li class="nav-item">
        <button type="button" class="fas fa-calendar-alt fa-2x" href="#"></button>
      </li>
      <li class="nav-item">
        <button type="button" class="fas fa-map-marked-alt fa-2x" href="#"></button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
