<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/dashboard">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto my-2">
      <li class="nav-item wide">
        <button type="button" class="btn btn-outline-dark" routerLink="/experience"><span class="fas fa-star fa-2x"></span></button>
      </li>
      <li class="nav-item wide">
        <button type="button" class="btn btn-outline-dark"><span class="fas fa-users fa-2x"></span></button>
      </li>
      <li class="nav-item wide">
        <button type="button" class="btn btn-outline-dark"><span class="fas fa-car-side fa-2x"></span></button>
      </li>
      <li class="nav-item wide">
        <button type="button" class="btn btn-outline-dark"><span class="fas fa-calendar-alt fa-2x"></span></button>
      </li>
      <li class="nav-item wide">
        <button type="button" class="btn btn-outline-dark"><span class="fas fa-map-marked-alt fa-2x"></span></button>
      </li>
    </ul>
    <div class="nav-item dropdown my-2" dropdown>
      <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Language
      </a>
      <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Vietnamese</a>
        <a class="dropdown-item" href="#">Spanish</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Klingon</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
