<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/dashboard">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed">
          <span class="navbar-toggler-icon"></span>
        </button>
        
   
<div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto my-2">
      <li class="nav-item wide">
        <button type="button" class="btn btn-outline-dark" routerLink="/experience"><span class="fas fa-star fa-2x"></span></button>
      </li>
      <li class="nav-item wide">
        <button type="button" class="btn btn-outline-dark"><span class="fas fa-users fa-2x"></span></button>
      </li>
      <li class="nav-item wide">
        <button type="button" class="btn btn-outline-dark"><span class="fas fa-car-side fa-2x"></span></button>
      </li>
      <li *ngIf="loggedOn" class="nav-item wide">
        <button type="button" class="btn btn-outline-dark" routerLink="/profile"><span class="fas fa-user fa-2x"></span></button>
      </li>
      </ul>
        <button *ngIf="!loggedOn" type="button" class="btn btn-primary" routerLink="/login">Login</button>
        <button *ngIf="loggedOn" type="button" class="btn btn-primary" (click)="logOff()">Logoff</button>
      
    <div class="nav-item dropdown my-2" dropdown>
      <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Language
      </a>
      <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Vietnamese</a>
        <a class="dropdown-item" href="#">Spanish</a>
      </div>
    </div>
  </div>
</nav>